build
coverage
temp
__pycache__
*egg-info/
.vscode
.git

# Ignore CMake
CMakeUserPresets.json
CMakeFiles/
.cmake

# Ignore pytest
*.pytest_cache

# Ignore binaries
*.dll
*.pyc
*.pyd
*.whl

# Ignore conan environment scripts
conan*.bat
deactivate_conan*.bat
